{% load static %}
{% include 'base/base.html' %}
    <style>
        
        body {
            background: url("{% static 'images/bg.jpg' %}");
            background-position: center;
            background-size: cover;
        }

        .form {
            background-color: #0A2647;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

        }

        input::placeholder {
            color: #000 !important;
        }

        input:focus {
            background-color: #E94560 !important;
            transition: .6s;
            color: #fff !important;
        }
    </style>

<body>
    {% include 'base/alerts.html' %}
    <form method="post"> 

        {% csrf_token %}

    <div class="overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="form w-50 m-auto  p-2 rounded shadow">
                    <span id="error"></span>
                    <div class="form-caption text-center py-2">
                        <img style="width: 3rem;" src="{% static 'images/icon.png' %}" alt="">
                    </div>

                    <input type="text" name="username"  placeholder="Enter Your username ..."
                        class=" form-control my-4">

                 


                    <input type="password" name="password" placeholder="Enter Your password ..."
                        class=" form-control my-4">

                    <div class="confirm d-flex justify-content-between align-items-center">
                        <button  class="btn btn-danger" name="btn_login"  > Login</button>
                        <a href="#" id="alert">عارف انك اكيد نسيت كلمه السر ؟</a>
                    </div>
                    <hr>
                    <div class="confirm d-flex justify-content-between align-items-center">
                        <button  class="btn btn-danger" name="btn-signup" id="btnsignup" >
                           <a href="{% url 'signup' %}">  Sign Up </a> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




    <script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/Login.js' %}"></script>
</body>

</html>