{% load static %}
{% include 'base/base.html' %}

{% include "base/header.html" %}



<body style="overflow: auto;">
    <!-- static moviees  -->
    <div class="Movies py-5" id="#movies">

        <div class="container py-5">
            <div class="row g-5" id="showData">
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.531</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//w3LxiVYdWWRvEVdn5RYq6jIqkb1.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.656</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//gOnmaxHo0412UVr1QM5Nekv1xPi.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.7</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//xsW7M4b4gawgFKCzcXHL2MSeswj.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.502</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//zpCCTtuQMHiHycpsrWnW2eCrBql.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.761</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//4iQTFPHWVHt2mYl0BkCzOmKDDdr.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.938</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//jQ0gylJMxWSL490sy0RrPj1Lj7e.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>8.453</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//g7fD1EHgctNSjBUzAOfxEsHaB2k.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.509</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.1</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//vJU3rXSP9hwUuLeq8IpfsJShLOk.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.404</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//sv1xJUazXeYqALzczSZ3O6nkH75.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.505</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//d9nBoowhjiiYc4FBNtQkPY7c11H.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>8</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//sexnKxpAOl0wfixYC3RataZD4pI.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.2</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//3FPnDTlX0LsaU4VD5mc82BMbchA.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>6.889</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.995</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//130H1gap9lFfiTF9iDrqNIkFvC9.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.738</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.2</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//uMMIeMVk1TCG3CZilpxbzFh0JKT.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>5.648</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//3OKBFYRVSKkBVJ7WpKogTVQfUqC.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.149</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//fIrFR0eTpdNV1AtuZKa0Q7sRAH2.jpg" alt="">
        </div>
    </div>
        <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span>7.594</span>
            </div>
            <img class=" card-img-top w-100" src="https://image.tmdb.org/t/p/w500//wjOHjWCUE0YzDiEzKv8AfqHj3ir.jpg" alt="">
        </div>
    </div></div>
        </div>
    </div>

    <!-- Dynamic moviees  -->
    
   <!-- {% for do in data %}
   <div class="Movies py-5" id="#movies">

        <div class="container py-5">
            <div class="row g-5" id="showData"> 
    <div class="col-md-3">
        <div class="movie position-relative shadow-lg rounded">
            <div class="rate position-absolute end-0 top-0">
                <span> {{do.vote_average}} </span> </div>
                <img src="https://image.tmdb.org/t/p/w500/{{do.poster_path }}" class="card-img-top" alt="...">
        </div>
    </div>

   {% endfor %} -->

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/Movies.js"></script>

    {% include "base/footer.html" %}


</body>