{% load static%}


<footer class=" bg-dark text-center py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3">
                <div class="footer text-white">
                    <h6>Created by <span> Mohamed Adel </span></h6>
                    <div  class="footer-contain ">
                        <a  style="margin: 10px;" href="https://www.linkedin.com"   class="fs-4 fa-brands fa-facebook">  </a>
                        <a  style="margin: 10px;" href="https://www.linkedin.com" class="fs-4 fa-brands fa-linkedin"> </a>
                        <a  style="margin: 10px;" href="https://github.com" class="fs-4 fa-brands fa-github"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>